# Preprocessing data with pandas

**Names**


___________________________________


___________________________________

## Pandas

Python Data Analysis Library) an open source (BSD) library designed to process data with high performance.
Some definitions:

- **Dataframe**: the main structure of Pandas. Is similat to a database table or a excell leaf.
- **CSV**: Is the most commonly used dataset format in machine learning. It is a text file with training each one stored on one line

Load datase

In [1]:
import pandas as pd
import numpy as np
gameSales = pd.read_csv('dato.csv')

In [2]:
display(gameSales)
display(gameSales.head(n=4));
display(gameSales.tail(n=4));

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",NaN,Bueno
1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente
4,Wii,Misc,Nintendo,"13,96","9,18","2,93","2,84","28,92",E,Malo
...,...,...,...,...,...,...,...,...,...,...
7107,PC,Action,Ubisoft,0,0,0,0,"0,01",T,Excelente
7108,PC,Shooter,Midway Games,0,0,0,0,"0,01",T,Aceptable
7109,PC,Sports,Sega,0,0,0,0,"0,01",E,Aceptable
7110,PC,Strategy,Take-Two Interactive,0,0,0,0,"0,01",E10+,Aceptable
7111,PS4,Platform,Team Meat,0,0,0,0,"0,01",T,Excelente

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",NaN,Bueno
1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
7108,PC,Shooter,Midway Games,0,0,0,0,"0,01",T,Aceptable
7109,PC,Sports,Sega,0,0,0,0,"0,01",E,Aceptable
7110,PC,Strategy,Take-Two Interactive,0,0,0,0,"0,01",E10+,Aceptable
7111,PS4,Platform,Team Meat,0,0,0,0,"0,01",T,Excelente

Find NaN values

In [3]:
gameSales.isna()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
7107,False,False,False,False,False,False,False,False,False,False
7108,False,False,False,False,False,False,False,False,False,False
7109,False,False,False,False,False,False,False,False,False,False
7110,False,False,False,False,False,False,False,False,False,False
7111,False,False,False,False,False,False,False,False,False,False

any(axis) function check if any value in each row (index) is True. axis	0 1 ('index''columns')

In [4]:
gameSales[gameSales.isna().any(axis=1)]

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",NaN,Bueno
15,DS,Puzzle,Nintendo,"3,43","5,35","5,32","1,18","15,29",NaN,Bueno
4868,PC,Shooter,Sega,0,"0,14",0,"0,01",NaN,M,Excelente
5042,X,Simulation,Codemasters,"0,1",NaN,0,0,"0,13",T,Bueno
5101,GC,Misc,Capcom,"0,1","0,03",0,0,"0,13",NaN,Bueno

we can looking for a specific column by filtering by column.

In [5]:
gameSales[gameSales["Global_Sales"].isna()]

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
4868,PC,Shooter,Sega,0,"0,14",0,"0,01",NaN,M,Excelente

there are other useful methods for finding errors such as:
- notna()
- isnull()
- notnull()

We can search for a specific value

In [6]:
gameSales[gameSales["Publisher"] == "Capcom"]

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
120,PSP,Role-Playing,Capcom,"0,47","0,55","4,13","0,34","5,48",T,Excelente
141,PS3,Action,Capcom,"1,96","1,41","1,08","0,64","5,09",M,Excelente
196,PS3,Fighting,Capcom,"2,03","1,04","0,58","0,52","4,17",T,Excelente
240,PS2,Action,Capcom,"2,08","0,83","0,46","0,25","3,62",M,Excelente
256,X360,Action,Capcom,"2,11","0,93","0,12","0,34","3,5",M,Excelente
...,...,...,...,...,...,...,...,...,...,...
6860,X,Action,Capcom,"0,01",0,0,0,"0,02",M,Malo
6876,PC,Action,Capcom,0,"0,01",0,0,"0,02",T,Malo
6902,PC,Action,Capcom,0,"0,01",0,0,"0,02",E,Aceptable
7038,X360,Fighting,Capcom,0,0,"0,01",0,"0,01",T,Excelente
7065,PC,Racing,Capcom,0,"0,01",0,0,"0,01",E,Aceptable

ApplyMap allows us to make a more detailed query (Mask).

In [7]:
mask = gameSales.applymap(lambda x:  "capco".lower() in str(x).lower())
display(gameSales[mask.any(axis=1)])

C:\Users\jorda\AppData\Local\Temp\ipykernel_13124\2493146072.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mask = gameSales.applymap(lambda x:  "capco".lower() in str(x).lower())

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
120,PSP,Role-Playing,Capcom,"0,47","0,55","4,13","0,34","5,48",T,Excelente
141,PS3,Action,Capcom,"1,96","1,41","1,08","0,64","5,09",M,Excelente
196,PS3,Fighting,Capcom,"2,03","1,04","0,58","0,52","4,17",T,Excelente
240,PS2,Action,Capcom,"2,08","0,83","0,46","0,25","3,62",M,Excelente
256,X360,Action,Capcom,"2,11","0,93","0,12","0,34","3,5",M,Excelente
...,...,...,...,...,...,...,...,...,...,...
6860,X,Action,Capcom,"0,01",0,0,0,"0,02",M,Malo
6876,PC,Action,Capcom,0,"0,01",0,0,"0,02",T,Malo
6902,PC,Action,Capcom,0,"0,01",0,0,"0,02",E,Aceptable
7038,X360,Fighting,Capcom,0,0,"0,01",0,"0,01",T,Excelente
7065,PC,Racing,Capcom,0,"0,01",0,0,"0,01",E,Aceptable

Now we are looking for the best-selling video game in Japan.
For this we look at the column types

In [8]:
display(gameSales.dtypes)

Platform              object
Genre                 object
Publisher             object
NA_Sales              object
EU_Sales              object
JP_Sales              object
Other_Sales           object
Global_Sales          object
Rating                object
Critic_Score_Class    object
dtype: object

And change the type in numeric colums

In [9]:
gameSales["JP_Sales"] = gameSales["JP_Sales"].astype(np.float32)
display(gameSales.dtypes)

ValueError: could not convert string to float: '3,77'

but it gives us an error because 3.77 is not convertible to float, we have to change the character to a dot.

In [10]:
gameSales["JP_Sales"] = gameSales["JP_Sales"].apply(lambda x:  str(x).replace(",","."))

In [11]:
gameSales["JP_Sales"] = gameSales["JP_Sales"].astype(np.float32)
display(gameSales.dtypes)

Platform               object
Genre                  object
Publisher              object
NA_Sales               object
EU_Sales               object
JP_Sales              float32
Other_Sales            object
Global_Sales           object
Rating                 object
Critic_Score_Class     object
dtype: object

Repeat the process for all numeric columns.

In [12]:
gameSales["NA_Sales"] = gameSales["NA_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["NA_Sales"] = gameSales["NA_Sales"].astype(np.float32)
gameSales["EU_Sales"] = gameSales["EU_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["EU_Sales"] = gameSales["EU_Sales"].astype(np.float32)
gameSales["Other_Sales"] = gameSales["Other_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["Other_Sales"] = gameSales["Other_Sales"].astype(np.float32)
gameSales["Global_Sales"] = gameSales["Global_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["Global_Sales"] = gameSales["Global_Sales"].astype(np.float32)
display(gameSales.dtypes)

Platform               object
Genre                  object
Publisher              object
NA_Sales              float32
EU_Sales              float32
JP_Sales              float32
Other_Sales           float32
Global_Sales          float32
Rating                 object
Critic_Score_Class     object
dtype: object

In [13]:
gameSales[gameSales["JP_Sales"] == gameSales["JP_Sales"].max()]

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
3,DS,Platform,Nintendo,11.28,9.15,6.5,2.88,29.809999,E,Excelente

Best sale by console.
For this we look at the column types

In [14]:
groupByPlatfoms = gameSales.groupby("Platform")
mostPlatformGame = groupByPlatfoms.max(numeric_only=True)
display(mostPlatformGame)

           NA_Sales   EU_Sales  JP_Sales  Other_Sales  Global_Sales
Platform
3DS        5.200000   4.190000      4.43         0.94     13.040000
DC         1.020000   0.240000      0.52         0.04      1.180000
DS        11.280000   9.200000      6.50         2.88     29.809999
GBA        3.140000   1.640000      2.06         0.23      6.410000
GC         4.410000   1.260000      1.39         0.22      7.070000
PC         4.030000   6.420000      0.09         1.18      8.010000
PS         4.020000   3.870000      3.63         0.96     10.950000
PS2        9.430000   5.490000      3.61        10.57     20.809999
PS3        7.020000   9.140000      1.87         3.97     21.120001
PS4        4.120000   6.770000      0.81         2.08     13.360000
PSP        2.900000   2.810000      4.13         1.73      7.690000
PSV        0.720000   0.660000      0.38         0.28      1.540000
Wii       41.360001  28.959999      4.70         8.45     82.540001
WiiU       3.170000   2.250000      1.48         0.52      7.230000
X          6.820000   1.530000      0.24         0.13      8.490000
X360      15.020000   5.170000      0.24         1.69     21.860001
XOne       3.240000   2.320000      0.04         0.49      5.740000

now we are left with only the overall sales column

In [15]:
mostPlatformGame = mostPlatformGame.drop('NA_Sales', axis=1)
mostPlatformGame = mostPlatformGame.drop('EU_Sales', axis=1)
mostPlatformGame = mostPlatformGame.drop('JP_Sales', axis=1)
mostPlatformGame = mostPlatformGame.drop('Other_Sales', axis=1)

In [16]:
display(mostPlatformGame)

          Global_Sales
Platform
3DS          13.040000
DC            1.180000
DS           29.809999
GBA           6.410000
GC            7.070000
PC            8.010000
PS           10.950000
PS2          20.809999
PS3          21.120001
PS4          13.360000
PSP           7.690000
PSV           1.540000
Wii          82.540001
WiiU          7.230000
X             8.490000
X360         21.860001
XOne          5.740000

If we want to know which is the best-selling game of all the consoles, we remove the PC.

In [18]:
mostPlatformGame=mostPlatformGame.reset_index()
mostPlatformGame = mostPlatformGame.drop(mostPlatformGame[mostPlatformGame.Platform == "PC"].index)
display(mostPlatformGame)

   Platform  Global_Sales
0       3DS     13.040000
1        DC      1.180000
2        DS     29.809999
3       GBA      6.410000
4        GC      7.070000
6        PS     10.950000
7       PS2     20.809999
8       PS3     21.120001
9       PS4     13.360000
10      PSP      7.690000
11      PSV      1.540000
12      Wii     82.540001
13     WiiU      7.230000
14        X      8.490000
15     X360     21.860001
16     XOne      5.740000

In [19]:
mostPlatformGame[mostPlatformGame["Global_Sales"] == mostPlatformGame["Global_Sales"].max()]

   Platform  Global_Sales
12      Wii     82.540001

Now let's see which first party game is the best seller on each platform.

In [20]:
firstParty = pd.read_csv('first_party.csv')
display(firstParty)

   Platform First_Party
0       Wii    Nintendo
1        DS    Nintendo
2       3DS    Nintendo
3        GC    Nintendo
4      WIIU    Nintendo
5       GBA    Nintendo
6      VBoy    Nintendo
7        PS        Sony
8       PS2        Sony
9       PS3        Sony
10      PS4        Sony
11      PS5        Sony
12      PSP        Sony
13      PSV        Sony
14        x   Microsoft
15     X360   Microsoft
16     XONE   Microsoft
17       DC        Sega

We have to make a merge of both tables in order to know which platforms belong to which brand of consoles.

In [21]:
gameSalesMerge = pd.merge(gameSales,firstParty,how='outer',on=('Platform'), indicator=True)
display(gameSalesMerge)

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class,First_Party,_merge
0,Wii,Sports,Nintendo,41.360001,28.959999,3.77,8.45,82.540001,NaN,Bueno,Nintendo,both
1,Wii,Racing,Nintendo,15.680000,12.800000,3.79,3.29,35.570000,E,Excelente,Nintendo,both
2,Wii,Sports,Nintendo,15.610000,10.950000,3.28,2.95,32.779999,E,Excelente,Nintendo,both
3,Wii,Misc,Nintendo,13.960000,9.180000,2.93,2.84,28.920000,E,Malo,Nintendo,both
4,Wii,Platform,Nintendo,14.480000,6.950000,4.70,2.25,28.379999,E,Excelente,Nintendo,both
...,...,...,...,...,...,...,...,...,...,...,...,...
7112,WIIU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nintendo,right_only
7113,VBoy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nintendo,right_only
7114,PS5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sony,right_only
7115,x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft,right_only
7116,XONE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft,right_only

Now we group by first_Party and keep the one with the largest sales.

In [22]:
gameSalesMergeGB = gameSalesMerge.groupby("First_Party")
gameSalesMergeFilter = gameSalesMergeGB.max(numeric_only=True)
display(gameSalesMergeFilter)

              NA_Sales   EU_Sales  JP_Sales  Other_Sales  Global_Sales
First_Party
Microsoft    15.020000   5.170000      0.24         1.69     21.860001
Nintendo     41.360001  28.959999      6.50         8.45     82.540001
Sega          1.020000   0.240000      0.52         0.04      1.180000
Sony          9.430000   9.140000      4.13        10.57     21.120001

# Exercises

## Pandas 5p

1. Get the platform that has no First_Party and the First_Party console that has no sales.
2. Cleans the dataset of numerical errors (NaN) by imputing the average value of each column to the missing data.
3. In the work folder there is a csv about video game developers (video-games-developers.csv). Clean the dataframe from missing or erroneous values in the following fields (Country, Est., City)
4. List the spanish developers
5. List developers that were created before 2000

**Answer in this Notebook**

## Python 5p

Realiza un pequeÃ±o juego en modo texto de un RPG. En este RPG tenemos la clase Gerrero, Mago y Enano que deben enfrentarse a 3 orcos que tendrÃ¡n valores de vida y ataque diferente en funciÃ³n de la partida. Para la nomeclatura de la prÃ¡ctica vamos a emplear las siguientes convenciones. dX siendo X un nÃºmero implica un dado de X, por ejemplo d6 es un dado de 6. Si decimos que el daÃ±o del guerrero es 2xd6 indicamos que tira dos dados de 6.
Estadisticas de los protagonistas:
* El Mago puede atacar o curar a los aliados. Es el que tiene menos vida (a determinar por vosotros) La curaciÃ³n resultante es un d6 y debe establecerse a que jugador quiero curar mediante el prompt. El ataque es un d6 pero afecta a todos los enemigos, no sÃ³lo al seleccionado.
* El guerrero tiene vida media, es el mas poderoso atacando (3xd6)
* El enano es el que tiene mas vida. Debe tener mas vida que el guerrero y el mago juntos. Su ataque es 2 dados de 6.

Cada turno ataca nuestro equipo de heroes primero y luego los enemigos. Los enemigos pueden atacar como quiera el alumno, aleatoriamente o con algÃºn tipo de estrategia (por ejemplo que ataque el que mÃ¡s vida tenga o el mÃ¡s fuerte)

En el turno el jugador debe elegir usando un prompt el personaje que usa y ese serÃ¡ el que reciba el daÃ±o y el que ataque. Lo mismo para la IA que contrala a los orcos. Salvo en el caso del mago, el orco que recibirÃ¡ el daÃ±o serÃ¡ el que sea elegido. Si se elige el mago, entonces se deberÃ¡ preguntar que desea hacer el jugador, atacar o curar. En el caso de curar tendrÃ¡ que preguntar a cual de sus compaÃ±eros quiere curar. No se pueden curar personajes muertos.

Si uno de los enemigos o de los aliados muere, el que ha realizado la muerte (sea jugador o IA) puede atacar otra vez en el mismo turno. Como dijimos antes, siempre ataca primero el jugador.

Debe haber registro textual de todo lo que vaya ocurriendo durante el juego.

Traza de ejemplo (no es necesario que sea asi):

mago(10), guerrero(20), enano (32) --[] -vs- [] -- orco01(10,1xd6), orco01(15,2xd6), orco01(5,3xd6)

promt-- mago

, guerrero(20), enano (32) --[mago(10)] -vs- [orco01(15,2xd6)] -- orco01(10,1xd6), , orco01(5,3xd6)

prompt-- atacar

1d6 = 3.

, guerrero(20), enano (32) --[mago(10)] -vs- [orco01(12,2xd6)] -- orco01(7,1xd6), , orco01(2,3xd6)

ataca orcos 2xd6 = 3+6 = 9

mago(1), guerrero(20), enano (32) --[] -vs- [] -- orco01(7,1xd6), orco01(12,2xd6), orco01(2,3xd6)

promt-- guerrero

mago(1), , enano (32) --[guerrero(20)] -vs- [orco01(7,1xd6)] -- , orco01(12,2xd6), orco01(2,3xd6)

ataca guerrero 3 + 2 + 6 = 11

orco01 muere

mago(1), , enano (32) --[guerrero(20)] -vs- [orco01(12,2xd6)] -- orco01(0,1xd6), , orco01(2,3xd6)

ataca guerrero 3+1+2 = 5

mago(1), , enano (32) --[guerrero(20)] -vs- [orco01(7,2xd6)] -- orco01(0,1xd6), , orco01(2,3xd6)

ataca orco 2xd6 = 6+6 = 12

mago(1), guerrero(8) , enano (32) --[] -vs- [] -- orco01(0,1xd6),orco01(7,2xd6) , orco01(2,3xd6)


**English**

Make a small game in text mode of an RPG. In this RPG we have the class Warrior, Wizzard and Dwarf who must attack to 3 orcs that will have different life and attack values depending on the match. We will use the following conventions. dX being X a number implies a die of X, for example d6 is a die of 6. If we say that the warrior's damage is 2xd6 we indicate that he rolls two dice of 6.
The protagonist's stats:
* The Wizard can attack orcs or heal allies. He is the one with the least health (to be determined by you) The resulting healing is a d6 and it must be established which player I want to heal by the prompt. The attack is a d6 but affects all enemies, not just the selected one.
* The warrior has half life, is the most powerful attacker (3xd6)
* The dwarf has the most life. He must have more health than the warrior and the wizard combined. His attack is 2 dice out of 6.

Each turn our hero team attacks first and then the enemies. The enemies can attack as the student wants, randomly or with some kind of strategy (e.g. attack the one with the most health or the strongest).

In the turn the player must choose using a prompt which character to use and that character will be the one to take damage and attack. The same goes for the AI that fights the orcs. Except in the case of the wizzard, the orc that will take damage will be the one that is chosen. If the wizzard is chosen, then the player must be asked what he wants to do, attack or heal. In the case of healing he will have to ask which of his companions he wants to heal. Dead characters cannot be healed.

If one of the enemies or allies dies, the one who performed the kill (player or AI) can attack again in the same turn. As mentioned above, the player always attacks first.

There should be a textual record of everything that happens during the game.

Example trace (not necessary):

wizzard(10), warrior(20), dwarf (32) --[] -vs- [] -- orc01(10,1xd6), orc01(15,2xd6), orc01(5,3xd6)

promt-- wizzard

, warrior(20), dwarf (32) --[wizzard(10)] -vs- [orc01(15,2xd6)] -- orc01(10,1xd6), , orc01(5,3xd6)

prompt-- attack

1d6 = 3.

, warrior(20), dwarf (32) --[wizzard(10)] -vs- [orc01(12,2xd6)] -- orc01(7,1xd6), , orc01(2,3xd6)

attack orc 2xd6 = 3+6 = 9

wizzard(1), warrior(20), enano (32) --[] -vs- [] -- orco01(7,1xd6), orc01(12,2xd6), orc01(2,3xd6)

promt-- guerrero

wizzard(1), , dwarf (32) --[warrior(20)] -vs- [orc01(7,1xd6)] -- , orc01(12,2xd6), orc01(2,3xd6)

attack warrior 3 + 2 + 6 = 11

orc01 death

wizzard(1), , dwarf (32) --[warrior(20)] -vs- [orc01(12,2xd6)] -- orc01(0,1xd6), , orc01(2,3xd6)

attack guerrero 3+1+2 = 5

wizzard(1), , dwarf (32) --[warrior(20)] -vs- [orc01(7,2xd6)] -- orc01(0,1xd6), , orc01(2,3xd6)

attack orc 2xd6 = 6+6 = 12

wizzard(1), warrior(8) , dwarf (32) --[] -vs- [] -- orc01(0,1xd6),orc01(7,2xd6) , orc01(2,3xd6)

...

**Answer in the gape  below**

In [3]:
#Answer the Pandas exercises
import pandas as pd
import numpy as np

gameSales = pd.read_csv('dato.csv')
firstParty = pd.read_csv('first_party.csv')
# Exercise 1
#A
#Database load
gameSales['Platform'] = gameSales['Platform'].str.upper()
firstParty['Platform'] = firstParty['Platform'].str.upper()
gameSalesMerge = pd.merge(gameSales,firstParty,how='outer',on=('Platform'), indicator=True)

#Data type cleaning
gameSales["JP_Sales"] = gameSales["JP_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["JP_Sales"] = gameSales["JP_Sales"].astype(np.float32)
gameSales["NA_Sales"] = gameSales["NA_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["NA_Sales"] = gameSales["NA_Sales"].astype(np.float32)
gameSales["EU_Sales"] = gameSales["EU_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["EU_Sales"] = gameSales["EU_Sales"].astype(np.float32)
gameSales["Other_Sales"] = gameSales["Other_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["Other_Sales"] = gameSales["Other_Sales"].astype(np.float32)
gameSales["Global_Sales"] = gameSales["Global_Sales"].apply(lambda x:  str(x).replace(",","."))
gameSales["Global_Sales"] = gameSales["Global_Sales"].astype(np.float32)


#1. Get the platform that has no First_Party and the First_Party console that has no sales.

groupByPlatfoms = gameSales.groupby("Platform")
mostPlatformGame = groupByPlatfoms.max(numeric_only=True)
#display(gameSales[gameSales["Platform"] == "PS5"])

#Group every platform with NA First Party
noFirstParty = gameSalesMerge[gameSalesMerge['First_Party'].isna()]['Platform'].unique()
#Group every platform WITH first Party but no sales
noSales = gameSalesMerge[(gameSalesMerge['Global_Sales'].isna() | (gameSalesMerge['Global_Sales'] == 0)) & ~gameSalesMerge['First_Party'].isna()]['Platform'].unique()

print ("Platforms without first party: ")
print(noFirstParty)

print ("First Party consoles without sales: ")
print(noSales)

#2. Cleans the dataset of numerical errors (NaN) by imputing the average value of each column to the missing data.
gameSales['Global_Sales'].fillna(gameSales['Global_Sales'].mean(), inplace=True)
display(gameSalesMerge)
#3. In the work folder there is a csv about video game developers (video-games-developers.csv). Clean the dataframe from missing or erroneous values in the following fields (Country, Est., City)
#4. List the spanish developers
developers = pd.read_csv('video-games-developers.csv')
display(developers[developers["Country"] == "Spain"])
#5. List developers that were created before 2000
display(developers.dtypes)

#Removes every non number value and extracts first 4 of them
developers["Est."] = developers["Est."].astype(str).str.extract(r'(\d{4})')
developers["Est."].fillna(0, inplace = True)
developers["Est."] = developers["Est."].astype(int)
oldOnes= developers[developers["Est."] <= 2000]
display(oldOnes)

Platforms without first party:
['PC']
First Party consoles without sales:
['PS5' 'VBOY']

C:\Users\jorda\AppData\Local\Temp\ipykernel_12632\1966431270.py:45: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gameSales['Global_Sales'].fillna(gameSales['Global_Sales'].mean(), inplace=True)

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class,First_Party,_merge
0,3DS,Racing,Nintendo,"5,2","4,19","2,7","0,94","13,04",E,Excelente,Nintendo,both
1,3DS,Platform,Nintendo,"4,89","3,05","2,14","0,78","10,87",E,Excelente,Nintendo,both
2,3DS,Platform,Nintendo,"3,66","3,27","2,49","0,63","10,05",E,Bueno,Nintendo,both
3,3DS,Simulation,Nintendo,"2,08","2,43","4,43","0,4","9,34",E,Excelente,Nintendo,both
4,3DS,Simulation,Nintendo,"0,99","2,23","1,91","0,25","5,39",E,Bueno,Nintendo,both
...,...,...,...,...,...,...,...,...,...,...,...,...
7109,XONE,Simulation,Koch Media,0,"0,01",0,0,"0,01",T,Malo,Microsoft,both
7110,XONE,Racing,Milestone S.r.l,0,"0,01",0,0,"0,01",E,Aceptable,Microsoft,both
7111,XONE,Simulation,Microsoft Game Studios,0,"0,01",0,0,"0,01",E10+,Bueno,Microsoft,both
7112,XONE,Role-Playing,THQ Nordic,"0,01",0,0,0,"0,01",M,Malo,Microsoft,both
7113,XONE,Action,Milkstone Studios,0,"0,01",0,0,"0,01",T,Bueno,Microsoft,both

,Developer,City,Administrative division,Country,Est.,"Notable games, series or franchises",Notes
358,Mercury Steam,Madrid,NaN,Spain,2002,Castlevania: Lords of Shadow series,NaN
419,Novarama,Barcelona,NaN,Spain,2003,Invizimals series,NaN
443,Pendulo Studios,Madrid,NaN,Spain,1993,Runaway series,NaN
465,Pyro Mobile,Madrid,NaN,Spain,1996,Commandos series,Subsidiary of Zed Group; their assets were acq...
600,Tequila Works,Madrid,NaN,Spain,2009,Deadlight,NaN

Developer                              object
City                                   object
Administrative division                object
Country                                object
Est.                                   object
Notable games, series or franchises    object
Notes                                  object
dtype: object

ValueError: cannot convert float NaN to integer

In [1]:
# Exercise 2

#Make a small game in text mode of an RPG. In this RPG we have the class Warrior, Wizzard and Dwarf who must attack to 3 orcs that will have different life and attack values depending on the match. We will use the following conventions. dX being X a number implies a die of X, for example d6 is a die of 6. If we say that the warrior's damage is 2xd6 we indicate that he rolls two dice of 6.
#The protagonist's stats:
#* The Wizard can attack orcs or heal allies. He is the one with the least health (to be determined by you) The resulting healing is a d6 and it must be established which player I want to heal by the prompt. The attack is a d6 but affects all enemies, not just the selected one.
#* The warrior has half life, is the most powerful attacker (3xd6)
#* The dwarf has the most life. He must have more health than the warrior and the wizard combined. His attack is 2 dice out of 6.

#Each turn our hero team attacks first and then the enemies. The enemies can attack as the student wants, randomly or with some kind of strategy (e.g. attack the one with the most health or the strongest).
#In the turn the player must choose using a prompt which character to use and that character will be the one to take damage and attack. The same goes for the AI that fights the orcs. Except in the case of the wizzard, the orc that will take damage will be the one that is chosen. If the wizzard is chosen, then the player must be asked what he wants to do, attack or heal. In the case of healing he will have to ask which of his companions he wants to heal. Dead characters cannot be healed.
#If one of the enemies or allies dies, the one who performed the kill (player or AI) can attack again in the same turn. As mentioned above, the player always attacks first.
#There should be a textual record of everything that happens during the game.
#Example trace (not necessary):
import random

warrior, wizzard, dwarf = 100, 50, 150
orc1, orc2, orc3 = 100, 100, 100
while True:
    print("Choose your character: Warrior, Wizzard, Dwarf")
    character = input()
    if character == "Warrior":
        print("Choose your target: Orc1, Orc2, Orc3")
        target = input()
        if target == "Orc1":
            orc1 -= 3*random.randint(1,6)
        elif target == "Orc2":
            orc2 -= 3*random.randint(1,6)
        elif target == "Orc3":
            orc3 -= 3*random.randint(1,6)
    elif character == "Wizzard":
        print("Choose your target: Orc1, Orc2, Orc3")
        target = input()
        if target == "Orc1":
            orc1 -= random.randint(1,6)
        elif target == "Orc2":
            orc2 -= random.randint(1,6)
        elif target == "Orc3":
            orc3 -= random.randint(1,6)
    elif character == "Dwarf":
        print("Choose your target: Orc1, Orc2, Orc3")
        target = input()
        if target == "Orc1":
            orc1 -= 2*random.randint(1,6)
        elif target == "Orc2":
            orc2 -= 2*random.randint(1,6)
        elif target == "Orc3":
            orc3 -= 2*random.randint(1,6)
    if orc1 <= 0:
        print("Orc1 is dead")
    if orc2 <= 0:
        print("Orc2 is dead")
    if orc3 <= 0:
        print("Orc3 is dead")
    if orc1 <= 0 and orc2 <= 0 and orc3 <= 0:
        print("You win")
        break
    print("Orcs attack")
    warrior -= random.randint(1,6)
    wizzard -= random.randint(1,6)
    dwarf -= random.randint(1,6)
    if warrior <= 0:
        print("Warrior is dead")
    if wizzard <= 0:
        print("Wizzard is dead")
    if dwarf <= 0:
        print("Dwarf is dead")
    if warrior <= 0 and wizzard <= 0 and dwarf <= 0:
        print("You lose")
        break

Choose your character: Warrior, Wizzard, Dwarf

: